/***********************
Page layout
************************/

.traktivity_event_page_traktivity_dashboard #wpcontent {
	padding-left: 0;
}

.traktivity_event_page_traktivity_dashboard .wrap {
	margin: 0;
}

.card_list,
.traktivity_dashboard header.top p {
	margin: 0 auto;
	text-align: left;
	max-width: 45rem;
	padding: 1.5rem;
}

/***********************
Card Design
************************/

.card {
	max-width: 100%;
	display: block;
	position: relative;
	margin: 0 auto 10px auto;
	padding: 16px;
	box-sizing: border-box;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(200, 215, 225, 0.5), 0 1px 2px #e9eff3;
}

.card p {
	font-size: .875rem;
}

/* Card header */

.card h2.card_title {
	background: #fff;
	border-bottom: 1px #d9e3ea solid;
	padding: 0 0.5em 1em  0.5em;
	margin-top: 0.5em;
}

/***********************
Header
************************/

.top {
	background:
		linear-gradient(
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.65)
		),
		url('../../img/watching.jpg');
	background-position: no-repeat;
	background-position: top center;
	margin: 0 auto;
	position: relative;
	height: 192px;
	width: 800px;
	box-shadow: 0 1px 0 rgba(200,215,225,0.5), 0 1px 2px #e9eff3;
	border-bottom: 1px #d9e3ea solid;
}

.top .header_items {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.top h1 {
	background: rgba(0, 0, 0, 0.75);
	color: #fff;
	font-size: 1.5em;
	margin: 0;
	padding: 0.4em 0.5em;
	display: inline-block;
}
.top nav {
	display: inline-block;
}

.top nav ul {
	display: inline-flex;
}

.top nav ul li {
	margin: 0 1em;
}

.top nav ul li a {
	color: #fff;
}

.top nav ul li a:hover {
	color: #c4c4c4;
}

/***********************
Inputs
************************/

.card label {
	border: 1px solid #a8bece;
	display: block;
	max-width: 100%;
	font-size: 16px;
	line-height: 1.5;
}

.card label span {
	background: #f3f6f8;
	color: #4f748e;
	display: inline-block;
	padding: 1em 2em;
	text-align: center;
}

.card input[type="text"] {
	background-color: #fff;
	border-top: 0 none;
	border-bottom: 0 none;
	color: #2e4453;
	display: inline-block;
	padding: 1.23em 2em;
	font-family: Consolas,Monaco,monospace;
	margin: 0;
	transition: all .15s ease-in-out;
	width: 70%;
	float: right;
}

/***********************
Notices
************************/

.message {
	margin: 0 auto;
	max-width: 45rem;
	color: #fff;
	display: block;
	transition: background-color 1s ease;
}

.message .notice_icon,
.message .dismiss_icon {
	fill: #fff;
}

.message .dismiss {
	float: right;
}

.message.empty {
	padding: 1.5em;
}
.message.traktivity__success {
	background-color: #4ab866;
}
.message.traktivity__progress {
	background-color: #f0b849;
}
.message.traktivity__error {
	background-color: #d94f4f;
}

.message .message_content {
	padding: 1.5em;
}

.message .notice_text {
	font-size: 18px;
	padding: 0 0 0 .5em;
	position: relative;
	bottom: 4px;
}

/* Add a bit of margin when we are in the wizard. */
.card .message {
	margin: 2em auto;
}

/***********************
Buttons
************************/

.action {
	text-align: right;
}

.intro .action,
.sync_settings .action {
	text-align: center;
}

.nav-button {
	background: #00aadc;
	border-style: solid;
	border-color: #0087be;
	border-width: 2px 1px 1px;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	display: inline-block;
	margin: 0 0 0 2em;
	outline: 0;
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	text-decoration: none;
	vertical-align: top;
	box-sizing: border-box;
	line-height: 21px;
	padding: 7px 14px 9px;
	text-transform: uppercase;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: background 2s, border-color 2s;
	-o-transition: background 2s, border-color 2s;
	transition: background 2s, border-color 2s;
}

.nav-button:hover,
.nav-button:focus {
	border-color: #005082;
}

.nav-button:focus {
	outline: 0;
	border-color: #00aadc;
	box-shadow: 0 0 0 2px #78dcfa;
}

.nav-button:visited {
	color: #2e4453;
}
.nav-button:disabled,
.nav-button[disabled] {
	background: #bceefd;
	border-color: #8cc9e2;
	cursor: default;
}

.nav-button.secondary {
	background: white;
	border-color: #c8d7e1;
	border-width: 1px 1px 2px;
	color: #2e4453;
}

/***********************
Footer
************************/

.footer {
	background-color: #fff;
	text-align: center;
	border-top: 1px #d9e3ea solid;
	border-bottom: 1px #d9e3ea solid;
	padding: 1.5rem;
}

.footer nav ul li {
	display: inline;
	padding: 0 1em;
}

/***********************
Events
************************/

.event-list .event-link {
	position: relative;
	width: 100%; /* for IE 6 */
	opacity: 0.8;
}

.event-list .event-link:hover {
	opacity: 1;
}

.event-list .event-image {
	vertical-align: middle;
}

.event-list .event-link .event-title {
	position: absolute;
	top: 40px;
	left: 0;
	padding: .25em 1em;
	color: #fff;
	background: rgba(0, 0, 0, 0.75);
}
